<div class="landing-default-container p-xl">
    <div class="container">
       <div class="row">
           <div class="text-center m-t-lg col-xs-12">
                <h2>{{model.title}}</h2>
                <p class="p-v-md">{{model.description}}</p>
                {{#link-to "collection.add" class="btn btn-success btn-lg"}}Add to Collection {{/link-to}}
           </div>
       </div>
   </div>
</div>
<div class="landing-default-footer p-xl text-center">
    <div class="container">
        <h4> Customize your landing page</h4>
        <p> You can add details to your landing page by changing settings to add layout layers. Visit Edit page to make changes. </p>
    </div>
</div>
